<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../static/js/jquery.js" th:src="@{/static/js/jquery.js}"></script>
</head>
<body>
    <h2>Hi,this is login.html</h2>

    <div>
        <label for="login_account">login account</label>
        <input type="text" name="login_account" id="login_account">

        <br>

        <label for="password">password</label>
        <input type="password" name="password" id="password">

        <br>

        <button id="login">login</button>
    </div>

</body>
<script type="text/javascript">
    $("#login").on("click", function () {
        $.ajax({
            url: "/app/login",
            type: "POST",
            dataType: "json",
            data: {loginAccount: $("#login_account").val(), password: $("#password").val()},
            success: function (data) {
                if (data.code === 2000) {
                    console.log(data);
                    window.location.href = '/app/index'
                }else{
                    console.log(data)
                    alert(data.message)
                }
            },
            error: function (err) {
                console.log(err);
            }
        })
    })
</script>
</html>